{% regroup intent_pointer_list by intent as intent_list %}

<h1>intentpointer_list.html</h1>

{% for intent_pointer in intent_pointer_list %}
    <h3>{{ intent_pointer.pointer }}</h3>
    {% if intent_pointer.intent.all %}
        {% for intent in intent_pointer.intent.all %}
            <div class="title nowrap">{{ intent.name }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}
<hr>
{#{% for intent in intent_list %}#}
{#    <h3>{{ intent.grouper }}</h3>#}
{#    {% for in %}#}
{#{% endfor %}#}
