{% extends 'base.html' %}

{% load filters %}

{% block content_container %}
    <h1 class="content-subhead">
        {% if question %}Search results{% else %}Ask a question{% endif %}
    </h1>

    <section class="post {% if not question %}hidden{% endif %}">
        <header class="post-header">
            <h2 class="post-title">{{ question }}</h2>

            <p class="post-meta">
            {% for noun in nouns %}
                {{ noun.0 }}&nbsp;
            {% endfor %}
            {% for noun in nouns %}
                {{ noun.0 }}&nbsp;
            {% endfor %}
            </p>
        </header>

        <div class="post-description">
            <p>
                <h4>Answers</h4>
                {% for intent in intents %}
                    {{ intent.intent.answer }}
                {% endfor %}
            </p>
        </div>
    </section>
{% endblock %}
